<h1>Création d'un évènement</h1>

 <%= form_for @event do |f| %>
    <div class="form-group">
      <%= f.label :start_date %>
      <%= f.datetime_select :start_date, class: "form-control", placeholder: "Entrez une date", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :durée %>
      <%= f.number_field :duration, class: "form-control", placeholder: "Entrez une durée (en minutes, multiple de 5)", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :titre %>
      <%= f.text_field :title, class: "form-control", placeholder: "Entrez un titre", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control", placeholder: "Entrez une description de l'événement", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :prix %>
      <%= f.number_field :price, class: "form-control", placeholder: "Prix", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :lieu%>
      <%= f.text_field :location, class: "form-control", placeholder: "Où se déroule l'événement", required: true %>
    </div>
    
    <div class="actions text-right">
      <%= f.submit "Créer l'événement", class: "btn btn-dark m-2" %>
    </div>
  <% end %>

<br>

<div>
  <%= link_to "Back to events", events_path %>

</div>

<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

    <ul>
    <% @event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
