<p style="color: green"><%= notice %></p>

<div class="card text-center">
  <div class="card-header">
    <%= @event.title %>
  </div>
  <div class="card-body">
    <h5 class="card-title">Description</h5>
    <p class="card-text"><%= @event.description %></p>

     <!-- Ville de l'événement -->
    <p class="card-text">Ville : <%= @event.location %></p>
    
    <!-- Durée de l'événement -->
    <p class="card-text">Durée : <%= @event.duration %> minutes</p>
    
    <!-- Prix de l'événement -->
    <p class="card-text">Prix : <%= number_to_currency(@event.price) %></p>
    

    
    <!-- Bouton "Modifier" -->
    <%= link_to "Modifier", edit_event_path(@event), class: "btn btn-primary" %>
    
    <!-- Bouton "Participer" -->
    <%= link_to "Participer", 'new_event_attendance_path(@event)', class: "btn btn-success" %>
    
    <!-- Bouton "Supprimer" -->
    <%= link_to "Supprimer", @event, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet événement ?" }, class: "btn btn-danger" %>
  </div>
  <div class="card-footer text-body-secondary">
    <%= "Date: " + @event.start_date.strftime('%d %B %Y') %>
  </div>
</div>



<%= render @event %>

