<p style="color: green"><%= notice %></p>

<div class="card text-center">
  <div class="card-header">
    <%= @event.title %>
  </div>
  <div class="card-body">
    <h5 class="card-title">Description</h5>
    <p class="card-text"><%= @event.description %></p>

     <!-- Ville de l'événement -->
    <p class="card-text">Ville : <%= @event.location %></p>

    <!-- date de début -->
     <p class="card-text">Date de début: <%= @event.start_date.strftime("%d/%m/%Y") %></p>

     <!-- heure de début -->
     <p class="card-text">Heure de début: <%= @event.start_date.strftime("%H:%M") %></p>

    <!--heure de fin -->
    <p class="card-text">Heure de fin: <%= (@event.start_date + @event.duration.minutes).strftime("%H:%M") %></p>

    <!-- Durée de l'événement -->
    <p class="card-text">Durée : <%= @event.duration %> minutes</p>

    <!-- nombre de patricipants -->
    <p class="card-text">Participants: <p class="card-text">Participants: <%= @event.users.count %></p>
    

    
    <!-- Prix de l'événement -->
    <p class="card-text">Prix : <%= number_to_currency(@event.price) %></p>
    

    
    <!-- Bouton "Modifier" -->
    <%= link_to "Modifier", edit_event_path(@event), class: "btn btn-primary" %>
    
    <!-- Bouton "Participer" -->
    <%= link_to "Participer", 'new_event_attendance_path(@event)', class: "btn btn-success" %>
    
    <!-- Bouton "Supprimer" -->
    <%= link_to "Supprimer", @event, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet événement ?" }, class: "btn btn-danger" %>

    <!-- créé par -->
  </div>
  <div class="card-footer text-body-secondary">
    <p class="card-text">Créé par: </p>
  </div>
</div>



<%= render @event %>

