<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="form-group">
      <%= f.label :email, "Adresse email", class: "form-label mt-4" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "" %>
      <small id="emailHelp" class="form-text text-muted">Cet email ne sera pas partagé.</small>
    </div>
        <% if devise_mapping.rememberable? %>
      <div class="form-check">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me, "Se rappeler de moi", class: "form-check-label" %>
      </div>
     <% end %>

<% end %>